In [2]:
print("Danish") ## Print is for printing

Danish

In [3]:
type (print("Danish")) ## Type is for datatype

Danish

NoneType

In [4]:
a=5

In [5]:
type(a)

int

In [6]:
b=45.53

In [7]:
type(b)

float

In [2]:
num1= int (input("enter first number "))
num2= int (input("enter Second number "))

enter first number  100
enter Second number  20

In [3]:
result=num1+num2
print(result)

120

In [6]:
sum_num= num1 + num2
diff_num= num1 - num2
mult_num= num1 * num2
div_num= num1 / num2
mod_num= num1 % num2
Quot_num= num1 // num2

In [7]:
print("Sum of two numbers",num1, "and",num2, "is",sum_num)
print("Diff of two numbers",num1, "and",num2, "is",diff_num)
print("Multiple of two numbers",num1, "and",num2, "is",mult_num)
print("Divide of two numbers",num1, "and",num2, "is",div_num)
print("Mode of two numbers",num1, "and",num2, "is",mod_num)
print("Quotient of two numbers",num1, "and",num2, "is",Quot_num)

Sum of two numbers 100 and 20 is 120
Diff of two numbers 100 and 20 is 80
Multiple of two numbers 100 and 20 is 2000
Divide of two numbers 100 and 20 is 5.0
Mode of two numbers 100 and 20 is 0
Quotient of two numbers 100 and 20 is 5

## Range Function

In [8]:
    range(10) ## print list of values from 0 to n-1

range(0, 10)

In [9]:
print(range(10))

range(0, 10)

In [10]:
list(range(10)) ### print list of values from 0 to n-1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
list(range(3,10))  ## Print numbers from 3 till 9

[3, 4, 5, 6, 7, 8, 9]

In [12]:
list(range(3,10,2))  ## Print numbers from 3 till 9 by skipping one number in between (step size -1)

[3, 5, 7, 9]

In [13]:
list(range(3,20))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [14]:
list(range(3,20,3))  ## Print numbers from 3 till 19 by skipping two number in between (step size -1)

[3, 6, 9, 12, 15, 18]

In [15]:
list(range(2,21.2,32.2)) ## Range doesn't work for float

TypeError: 'float' object cannot be interpreted as an integer

In [19]:
list(range(2,int(21.2),int(2.1))) ## Range doesn't work for float

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [20]:
list(range(45,3,-3))

[45, 42, 39, 36, 33, 30, 27, 24, 21, 18, 15, 12, 9, 6]

In [21]:
list(range(3,45,-3)) ## there is no syntax error but it will give empty list

[]

In [22]:
name= "India"

In [23]:
type(name)

str

In [24]:
len(name)

5

In [25]:
list(range(len(name)))

[0, 1, 2, 3, 4]

In [27]:
list_items = [] ## Sqare bracket stand for list

In [28]:
print(list_items)

[]

In [30]:
list_item = ["Danish", 3, 2.1, "Delhi", True, False]

In [31]:
print(list_item)

['Danish', 3, 2.1, 'Delhi', True, False]

In [32]:
len_list = len(list_item)

In [33]:
print(len_list)

6

In [34]:
type(list_item)

list

In [37]:
print(list_item)

['Danish', 3, 2.1, 'Delhi', True, False]

In [38]:
list_item[2] ## accessing the 3 element from list

2.1

In [43]:
list_item[2:] ## item from the list from 3rd onwards

[2.1, 'Delhi', True, False]

In [40]:
list_item[:] ## give all the items

['Danish', 3, 2.1, 'Delhi', True, False]

In [41]:
list_item[:5] ## item from the list upto 5th

['Danish', 3, 2.1, 'Delhi', True]

In [44]:
list_item[2:5] ## item from the list from 3rd to 5th excluding 5th

[2.1, 'Delhi', True]

In [48]:
list_item

['Danish', 3, 2.1, 'Delhi', True, False]

In [45]:
list_item[::-1] ## Reverse elements inside the list but original list will not change

[False, True, 'Delhi', 2.1, 3, 'Danish']

In [51]:
list_item[2:5:1]

[2.1, 'Delhi', True]

In [52]:
[1,2,20.25,"Danish"] + "Malik" ## We cannot do the concatenate of list and str

TypeError: can only concatenate list (not "str") to list

In [53]:
[1,2,20.25,"Danish"] + ["Malik", 90, 6.5] ## List should be concatenated with list only

[1, 2, 20.25, 'Danish', 'Malik', 90, 6.5]

# Append Function

In [54]:
list_item

['Danish', 3, 2.1, 'Delhi', True, False]

In [55]:
print(list_item) ## either above or we can use this both will five the same output

['Danish', 3, 2.1, 'Delhi', True, False]

In [56]:
Name = "Danish"

In [58]:
Name[len(Name)-2]

's'

In [59]:
Name[len(Name)-2] = "o" ## str is immutable

TypeError: 'str' object does not support item assignment

In [60]:
list_item

['Danish', 3, 2.1, 'Delhi', True, False]

In [61]:
list_item.append("Malik") ## Adding items at end

In [62]:
list_item

['Danish', 3, 2.1, 'Delhi', True, False, 'Malik']

In [65]:
list_item.append(["India",90]) ## it will add list inside list

In [66]:
list_item

['Danish', 3, 2.1, 'Delhi', True, False, 'Malik', ['India', 90]]

In [68]:
list_item[7][0] ##to access elements from list inside list use double square bracet

'India'

# Insert() Function

In [69]:
list_item

['Danish', 3, 2.1, 'Delhi', True, False, 'Malik', ['India', 90]]

In [73]:
list_item.insert(3,"India") # insert at 3rd position and other elements get shifted

In [74]:
list_item

['Danish',
 3,
 2.1,
 'India',
 'India',
 'India',
 'Delhi',
 True,
 False,
 'Malik',
 ['India', 90]]

In [75]:
list_item.insert(5,[12,"Data"]) # insert at 3rd position and other elements get shifted

In [76]:
list_item

['Danish',
 3,
 2.1,
 'India',
 'India',
 [12, 'Data'],
 'India',
 'Delhi',
 True,
 False,
 'Malik',
 ['India', 90]]

In [77]:
list_item[5][1]

'Data'

# Replace() Function

In [78]:
list_item.replace(3,"Danish") ## Replace funtion is not available for list in python

AttributeError: 'list' object has no attribute 'replace'

# Extend() Function

In [79]:
s = [1,2,12.2, "Danish"]

In [80]:
s

[1, 2, 12.2, 'Danish']

In [84]:
s.append(["Malik",23])

In [85]:
s

[1, 2, 12.2, 'Danish', 'Malik', ['Malik', 23]]

In [88]:
s.extend(["Delhi", 11, 0.1] )## add elements individually and not together unlike append

In [90]:
s

[1, 2, 12.2, 'Danish', 'Malik', ['Malik', 23], 'Delhi', 11, 0.1]

In [93]:
s.index('Danish')

3

# Reverse() Function

In [110]:
list_item

['Danish',
 3,
 2.1,
 'India',
 'India',
 [12, 'Data'],
 'India',
 'Delhi',
 True,
 False,
 'Malik',
 ['India', 90]]

In [111]:
list_item_copy = list_item.copy()

In [112]:
list_item_copy.reverse() ## it will reverse the elements inside the list and original list will change

In [113]:
list_item_copy

[['India', 90],
 'Malik',
 False,
 True,
 'Delhi',
 'India',
 [12, 'Data'],
 'India',
 'India',
 2.1,
 3,
 'Danish']

# Sort() Funtion

In [114]:
list_item2 = ["Danish", "Malik", "Delhi"]

In [119]:
list_item2_sorted = sorted(list_item2) ## sorted can be use for re-assigning and will not change the original

In [120]:
list_item2_sorted

['Danish', 'Delhi', 'Malik']

In [121]:
list_item2

['Danish', 'Malik', 'Delhi']

In [115]:
list_item2_copy = list_item2.copy()

In [116]:
list_item2_copy.sort() ## it will sort the lsit

In [117]:
list_item2_copy

['Danish', 'Delhi', 'Malik']

In [118]:
list = ['d','a','c','b']

In [103]:
list.sort() ## For ascending order

In [104]:
list

['a', 'b', 'c', 'd']

In [105]:
list.sort(reverse = True) ## for descending order use (reverse = True)

In [106]:
list

['d', 'c', 'b', 'a']

In [125]:
list_item_number= [1,6,3,51,25,63,93,62]

In [127]:
list_item_number_sort_asc = sorted(list_item_number)
list_item_number_sort_dsc = sorted(list_item_number, reverse=True)

In [131]:
print(list_item_number_sort_asc)
print(list_item_number_sort_dsc)

[1, 3, 6, 25, 51, 62, 63, 93]
[93, 63, 62, 51, 25, 6, 3, 1]

In [136]:
list_item_number

[1, 6, 3, 51, 25, 63, 93, 62]