# Condional

In [6]:
import random

#generate any random number between 1 to 10
number = random.randint(1,10)

guess = int(input("Enter a integer\n"))
if guess == number :
    print("Your guess is correct\n")
else :
    print("Your guess is incorrect\n")

Enter a integer
 5

Your guess is incorrect

In [ ]:
# Boolean Expression -- Expression that returs true or false

In [7]:
12 == 12

True

In [8]:
12 == 13

False

In [12]:
x = 5
y= 6

In [13]:
x == y

False

In [14]:
x != y

True

In [15]:
x > 4 and y > 5

True

In [16]:
x > 4 or y < 5

True

In [19]:
number = int(input("Enter the number\n"))

if number % 2 == 0 :
    print(number, " is Even number")
else :
    print(number, " is odd number")

Enter the number
 13

13  is odd number

In [20]:
number = int(input("Enter the number\n"))

if number % 2 == 0 :
    print("you have entered ", number)
    print(number, " is Even number")
else :
    print("you have entered ", number)
    print(number, " is odd number")

Enter the number
 12

you have entered  12
12  is Even number

In [21]:
marks = eval(input("Enter the marks\n"))

if marks < 0 or marks > 100 :
    print("You have entered invalid marks")
elif marks >= 0 and marks < 35 :
    print("Sorry! You failed")
elif marks >= 35 and marks < 80 :
    print("You passed in first class")
else :
    print("You got Distinction")

Enter the marks
 12

Sorry! You failed

In [25]:
marks = eval(input("Enter the marks\n"))

if marks < 0 or marks > 100 :
    print("You have entered invalid marks")
elif marks >= 95 :
    print("You got A+ Grade")
elif marks >= 90 and marks < 95 :
    print("You got A Grade")
elif marks >= 80 and marks < 90 :
    print("You got B+ Grade")
elif marks >= 70 and marks < 80 :
    print("You got B Grade")
elif marks >= 60 and marks < 70 :
    print("You got C Grade")
elif marks >= 50 and marks < 60 :
    print("You got D Grade")
elif marks >= 40 and marks < 50 :
    print("You just Passed")
else :
    print("Sorry! You failed")

Enter the marks
 60

You got C Grade

In [ ]:
# Nested Condition -- one condition can be nested within second condition

In [26]:
number1 = eval(input("Enter the first number\n"))
number2 = eval(input("Enter the second number\n"))

if number1 == number2 :
    print("Both numbers are same")
else :
    if number1 > number2 :
        print("First number is bigger than second number")
    else :
        print("First number is smaller than second number")

Enter the first number
 12
Enter the second number
 14

First number is smaller than second number

# Catching exception with try and except

In [27]:
number = int(input("Enter the number\n"))

if number % 2 == 0 :
    print(number, " is Even number")
else :
    print(number, " is odd number") ## it will sjows an error whne user entered the string to overcome this we use try and except method. So, that user cannot get any syntax error

Enter the number
 Hello

ValueError: invalid literal for int() with base 10: 'Hello'

In [14]:
import math
try :
    number = eval(input("Enter the number\n"))

    if math.ceil(number) % 2 == 0 :
        print(number, " is Even number")
    else :
        print(number, " is odd number")

except :
    print("Seems you have entered a string value")

Enter the number
 23.46

23.46  is Even number

In [17]:
##Write a program that asks user to enter a length in centimeters. If negative value is entered, the program should tell the user that the entry is invalid. Otherwise the program should convert the length to inches and print out the result. There are 2.54 centimeters in inches.

lenght_in_cm = input("Enter the lenght in centimeter\n")

try :
    lenght_in_cm = float(lenght_in_cm)

    if lenght_in_cm < 0 :
        print("You have entered a negetive value.")
    else :
        lenght_in_inches = lenght_in_cm / 2.54
        print(lenght_in_cm, "cm= ", lenght_in_inches, " inches")

except :
    print("You have not entered any number")

Enter the lenght in centimeter
 100

100.0 cm=  39.37007874015748  inches

In [3]:
## Write a program that accept a sentence from the user as input and then print the location of each vowel in the sentence

sentence = input("Enter a sentence\n")

vowel_list = ['a','e','i','o','u']

index = 0

for letter in sentence :
    if letter in vowel_list :
        print(letter, "present at location ", index)

    index += 1

Enter a sentence
 India is my Country

i present at location  3
a present at location  4
i present at location  6
o present at location  13
u present at location  14

In [1]:
## Write a program that asks user to enter a word and determines whether the word is palindrome or not. A palindrome is a word that read the same backwards as forwards.

string = input("Enter a word\n")

original_string = list(string)
original_string_reversed = list(reversed(string))

is_palindrome = True

for i in range(len(original_string)) :
    if original_string[i] != original_string_reversed[i]:
        is_palindrome = False

if is_palindrome:
    print(string, " is Palindrome")

else:
    print(string, " is not palindrome")

Enter a word
 madam

madam  is Palindrome

# For loop

In [2]:
# iterate over fixed number of times

for i in range(3):
    print(i)

0
1
2

In [6]:
# iterate over values directly


for i in (11,15,16):
    print(i)

11
15
16

In [9]:
# iterate over fixed number of times with start and end value


for i in range(1,5):
    print(i)

1
2
3
4

In [8]:
# iterate over fixed number of times with start and end value with gaps in between 

for i in range(1,5,2):
    print(i)

1
3

In [12]:
## iterate over string directly

my_string = "hello! how are you ?"

for letter in my_string:
    print(letter)

h
e
l
l
o
!

h
o
w

a
r
e

y
o
u

?

In [15]:
## iterate over tuple directly

my_tuple = (1, 50.2, "hello", True)

for element in my_tuple:
    print(element)

1
50.2
hello
True

In [16]:
## iterate over tuple directly

my_set = {1, 50.2, "hello", True}

for element in my_tuple:
    print(element)

1
50.2
hello
True

In [19]:
## iterate over tuple directly

my_dictionary = {"key1":"value1", "key2":"value2"}

for items in my_dictionary.items():
    print(items)

('key1', 'value1')
('key2', 'value2')

In [26]:
# hieght of tringle

times = int(input("Enter the height of trinangle\n"))
print()

item = []
for i in range(times):
    item.append(i+1)

for x in item:
    print(x * "@")

Enter the height of trinangle
 5

@
@@
@@@
@@@@
@@@@@

# While Loop

In [10]:
# iterate over the fist five numbers

number_list = range(5)

i = 0 # initialising the iteration variable

while i < len(number_list):   # Condition is evaluated
    print('i', i, " (number) ", number_list[i])
    i = i + 1

print("lenght of list", len(number_list))

i 0  (number)  0
i 1  (number)  1
i 2  (number)  2
i 3  (number)  3
i 4  (number)  4
lenght of list 5

In [9]:
# for loop is most important because variable diclation is important  in while loop and if we did't declare, it will go infinite loopin where as in case of for loop it is not necessary to declare variable.

In [12]:
i = 0 # initialising the iteration variable

while i < 5:  # Condition is evaluated
    print(i)
    i = i + 1

0
1
2
3
4

# Break Statement

In [14]:
i = 0 # initialising the iteration variable

while i < 5: # Condition is evaluated
    if i > 3:
        break
    print(i)
    i = i + 1

0
1
2
3

# Contine Statement

In [ ]:
i = 0 # initialising the iteration variable

while i < 5: # Condition is evaluated
    if i > 3:
        continue
    print(i)
    i = i + 1

0
1
2
3

In [1]:
stmt = ""

while stmt != 'Quit':
    stmt = input("Enter the statement (Use 'Quit' to stop)")
    if stmt.startswith('#') :
        continue
    if len(stmt) > 0 :
        print(stmt)

Enter the statement (Use 'Quit' to stop) anbsjvucvwl

anbsjvucvwl

Enter the statement (Use 'Quit' to stop) hjbdclahb

hjbdclahb

Enter the statement (Use 'Quit' to stop) hjcdacwukyk

hjcdacwukyk

Enter the statement (Use 'Quit' to stop) #hjcbw
Enter the statement (Use 'Quit' to stop) quit

quit

Enter the statement (Use 'Quit' to stop) Quit

Quit

In [47]:
password = "Python@2025"
times = 5
match_found = False

for i in range(times):
    user_password = input("Enter your password\n")
    if user_password == password:
        match_found = True
        print("You are logged In")
    break

if not(match_found):
    print("You have used all attempts of login")

Enter your password
 danish

You have used all attempts of login

In [49]:
# test for the prime number of any leanght

var_prime = False
num = int(input("Enter a number that you wants to check for prime: "))

for i in range(2,num):
    if num % i == 0:
      var_prime = True

if not(var_prime):
    print(num, " is a Prime number.")
else:
    print(num, " is not a Prime number.")

Enter a number that you wants to check for prime:  17

17  is a Prime number.

# Sets{}

In [53]:
empty_set = {}  ## set is used for the unique elements where list can have anything
empty_list = []
empty_list ,empty_set

([], {})

In [54]:
type(empty_list) , type(empty_set)

(list, dict)

In [56]:
set_num = {5}
set_num

{5}

In [57]:
type(set_num) ## empty set has a typr of dict whereas singal number in bracket will gives it type as set

set

In [69]:
my_set = {'a', 'b', 'c','a', 'b', 'c'} ## duplicates get removed from the set result
my_set

{'a', 'b', 'c'}

In [59]:
my_list = ['a', 'c', 'b', 1, 2, 4, 3, "America"]
my_list

['a', 'c', 'b', 1, 2, 4, 3, 'America']

In [60]:
my_set = {'a', 'c', 'b', 1, 2, 4, 3, "America"}
my_set

{1, 2, 3, 4, 'America', 'a', 'b', 'c'}

In [67]:
set_ex = {1,3,23,23.34,34.43,11,23,11.13,11.12,'#', "###", "##", "##1", 'a', 'c', 'b', '@', "@@", True, False, "America","america", "Danish", "DANISH", "dANISH"}

In [68]:
set_ex

{'#',
 '##',
 '###',
 '##1',
 1,
 11,
 11.12,
 11.13,
 23,
 23.34,
 3,
 34.43,
 '@',
 '@@',
 'America',
 'DANISH',
 'Danish',
 False,
 'a',
 'america',
 'b',
 'c',
 'dANISH'}

In [118]:
for i in set_ex:   ## set doesn't maintain a insertion order
    
    print(i)

False
1
3
america
Danish
11
11.13
11.12
##
##1
America
23
23.34
#
###
34.43
c
a
DANISH
@
dANISH
@@
b

# Creation of set from list

In [70]:
new_list = [1,'1',2,2,2,'2','2',]
new_list

[1, '1', 2, 2, 2, '2', '2']

In [71]:
new_set = set(new_list)  ## set can be created from list by typecasting, duplicates will removed
new_set

{1, '1', 2, '2'}

# Creation of set from list

In [82]:
my_set = {"Delhi", "Mumbai", "Delhi", "Ahamdabad", "Aligarh"}
my_set

{'Ahamdabad', 'Aligarh', 'Delhi', 'Mumbai'}

In [83]:
type(my_set)

set

In [78]:
my_list = list(my_set)
my_list

['Aligarh', 'Delhi', 'Mumbai', 'Ahamdabad']

In [84]:
type(my_list)

list

#Operations on sets

# add() function

In [85]:
Country_set = {"India", "US", "England", "US"}
Country_set

{'England', 'India', 'US'}

In [86]:
Country_set.add("China")
Country_set

{'China', 'England', 'India', 'US'}

# remove() function

In [88]:
Country_set.remove("US")
Country_set

{'China', 'England', 'India'}

In [91]:
Country_set.remove("UK")
Country_set

KeyError: 'UK'

# discard() function

In [90]:
Country_set.discard("UK") ## discard function is use to remove any element from set, if element is not present in the set it will not throw a syntax error
Country_set

{'China', 'England', 'India'}

# pop() function

In [92]:
Country_set

{'China', 'England', 'India'}

In [93]:
Country_set.pop() ## removes first elements from set
Country_set

{'England', 'India'}

In [95]:
test_set = {1,2,3,4,4,4,"Danish","MALIK"}
test_set

{1, 2, 3, 4, 'Danish', 'MALIK'}

In [97]:
test_set.pop()
test_set

{3, 4, 'Danish', 'MALIK'}

In [ ]:
# clear() function

In [98]:
test_set

{3, 4, 'Danish', 'MALIK'}

In [99]:
test_set.clear() ##clears the set and makes it empty
test_set

set()

In [ ]:
# 'in' and 'not in' function

In [100]:
Country_set = {"India", "US", "England", "US"}
Country_set

{'England', 'India', 'US'}

In [102]:
"India" in Country_set

True

In [103]:
"China" not in Country_set

True

# Working with sets

In [ ]:
'&' operator can be used to have common elements between two sets

In [104]:
maharashtra_cities = {"Mumbai", "Pune", "Nagpur"}
goa_cities = {"Panjim", "Vasco", "Madgaon"}
western_region_cities = {"Mumbai", "Pune", "Nagpur", "Panjim", "Vasco"}

In [105]:
maharashtra_cities & western_region_cities  ## & will give common element between two sets

{'Mumbai', 'Nagpur', 'Pune'}

In [106]:
goa_cities & western_region_cities

{'Panjim', 'Vasco'}

In [107]:
maharashtra_cities & goa_cities

set()

# intersection() function

In [108]:
maharashtra_cities = {"Mumbai", "Pune", "Nagpur"}
goa_cities = {"Panjim", "Vasco", "Madgaon"}
western_region_cities = {"Mumbai", "Pune", "Nagpur", "Panjim", "Vasco"}

In [109]:
western_region_cities.intersection(maharashtra_cities) ## also returns common element

{'Mumbai', 'Nagpur', 'Pune'}

In [110]:
western_region_cities.intersection(goa_cities)

{'Panjim', 'Vasco'}

In [111]:
maharashtra_cities.intersection(goa_cities)

set()

'-' operator can be used to get the element which is present in set 1

In [112]:
maharashtra_cities = {"Mumbai", "Pune", "Nagpur"}
goa_cities = {"Panjim", "Vasco", "Madgaon"}
western_region_cities = {"Mumbai", "Pune", "Nagpur", "Panjim", "Vasco"}

In [113]:
western_region_cities - maharashtra_cities ## '-' used to get the elemt which is present in set 1

{'Panjim', 'Vasco'}

In [114]:
western_region_cities - goa_cities

{'Mumbai', 'Nagpur', 'Pune'}

'|' operator can be used to get all the elements from both the sets

In [115]:
maharashtra_cities = {"Mumbai", "Pune", "Nagpur"}
goa_cities = {"Panjim", "Vasco", "Madgaon"}
western_region_cities = {"Mumbai", "Pune", "Nagpur", "Panjim", "Vasco"}

In [116]:
goa_cities | maharashtra_cities

{'Madgaon', 'Mumbai', 'Nagpur', 'Panjim', 'Pune', 'Vasco'}

# union() function

In [117]:
maharashtra_cities.union(goa_cities) # used to get all the elements from both the se

{'Madgaon', 'Mumbai', 'Nagpur', 'Panjim', 'Pune', 'Vasco'}