# Tuples

In [14]:
tuple1 = ()
tuple1

()

In [3]:
type(tuple1)

tuple

In [4]:
my_tuple = ('a', 'b', 'c')
my_tuple

('a', 'b', 'c')

In [3]:
my_tuple1 = ('a', 1, 23.34, "Inida", True)
my_tuple1

('a', 1, 23.34, 'Inida', True)

In [6]:
print(type(my_tuple1))

<class 'tuple'>

In [7]:
my_tuple1[0]

'a'

In [8]:
type(my_tuple1[2])

float

In [9]:
len(my_tuple1)

5

In [10]:
my_tuple1[-1]

True

In [11]:
type(my_tuple1[-1])

bool

# Slicing

In [4]:
my_tuple1

('a', 1, 23.34, 'Inida', True)

In [12]:
my_tuple1[0 : 2] ## extract first two elements of tuple

('a', 1)

In [13]:
my_tuple1[1 : ] ## extract all elements of tuple starting from second

(1, 23.34, 'Inida', True)

In [15]:
my_tuple1[ : 3] ## extract first three elements of tuple

('a', 1, 23.34)

In [16]:
my_tuple1[0 : : 2] ## extract every alternate elements of tuple starting

('a', 23.34, True)

In [5]:
my_tuple1[: : -1] ## reverse all elements of tuple

(True, 'Inida', 23.34, 1, 'a')

# Concatenation

In [6]:
my_tuple1

('a', 1, 23.34, 'Inida', True)

In [9]:
my_tuple2 = (5, 33.33, False)
my_tuple2

(5, 33.33, False)

In [11]:
my_new_tuple = my_tuple1 + my_tuple2  ## using '+' operator you can concat two tuples
my_new_tuple

('a', 1, 23.34, 'Inida', True, 5, 33.33, False)

In [13]:
new_tuple = my_new_tuple + ('5', 5, '6')  #tuples can have duplicate
new_tuple

('a', 1, 23.34, 'Inida', True, 5, 33.33, False, '5', 5, '6')

# Repetation

In [15]:
my_tuple1 * 3 ## tuples can

('a',
 1,
 23.34,
 'Inida',
 True,
 'a',
 1,
 23.34,
 'Inida',
 True,
 'a',
 1,
 23.34,
 'Inida',
 True)

# Immutablity

In [17]:
my_tuple = ('a', 'b', 'c')
my_tuple

('a', 'b', 'c')

In [18]:
my_tuple[0] = 'P' ## tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [19]:
my_tuple.append('f') # you cannot append tuples

AttributeError: 'tuple' object has no attribute 'append'

In [21]:
my_tuple.remove(0) # you cannot remove tuples

AttributeError: 'tuple' object has no attribute 'remove'

In [24]:
my_tuple = ('a', 'b', 'c')

In [27]:
new_tuple1 = my_tuple  ## tuple can be assigned to another tuple varible
new_tuple1

('a', 'b', 'c')

# Operations

In [44]:
new_tuple = ('a', 'b', 'c', 'c', 'd')
new_tuple

('a', 'b', 'c', 'c', 'd')

# index() function

In [35]:
new_tuple

('a', 'b', 'c', 'c', 'd')

In [32]:
new_tuple.index('c') ## get first index of elements in tuple

2

In [33]:
new_tuple.index('d')

4

In [34]:
new_tuple.index('b')

1

# count() finction

In [36]:
new_tuple

('a', 'b', 'c', 'c', 'd')

In [37]:
new_tuple.count('a') ## counts how many times elements available in tuple

1

In [38]:
new_tuple.count('c')

2

# Iterable

In [45]:
new_tuple

('a', 'b', 'c', 'c', 'd')

In [41]:
for i in range(len(new_tuple)):
    print("(", i, ")", new_tuple[i])

( 0 ) a
( 1 ) b
( 2 ) c
( 3 ) c
( 4 ) d

# sorted() function

In [47]:
new_tuple1 = ('e', 'b', 'c', 'a' ,'c', 'f', 'd')
new_tuple1

('e', 'b', 'c', 'a', 'c', 'f', 'd')

In [48]:
sorted(new_tuple1)  ## sort the tuple value using sorted

['a', 'b', 'c', 'c', 'd', 'e', 'f']

In [49]:
scores = (19, 10, 51, 20, 75, 25, 0)
scores

(19, 10, 51, 20, 75, 25, 0)

In [50]:
sorted(scores)

[0, 10, 19, 20, 25, 51, 75]

# del() function

In [51]:
scores = (19, 10, 51, 20, 75, 25, 0)
scores

(19, 10, 51, 20, 75, 25, 0)

In [53]:
del(scores)  ## remove the tuple and throws an error as tuple no more available
scores

NameError: name 'scores' is not defined

In [55]:
## Accept 5 string value from user and store them as a tuple. Print the elements of tuple with their indices.
tuple = ()
times = 5

for i in range(times):
    user_string = input("Entre the sentence\n")
    tuple = tuple + (user_string, )

print("\n The elements of tuple are : ")
for i in range(len(tuple)):
    print("(", i, ")" , "  ", tuple[i])

Entre the sentence
 Danish
Entre the sentence
 Malik
Entre the sentence
 India
Entre the sentence
 Delhi
Entre the sentence
 Okhla

 The elements of tuple are :
( 0 )    Danish
( 1 )    Malik
( 2 )    India
( 3 )    Delhi
( 4 )    Okhla

In [61]:
## Accept 5 string value from user and store them as a tuple. Print the elements of tuple with their indices in reverse order
tuple = ()
times = 5

for i in range(times):
    user_string = input("Entre the sentence\n")
    tuple = tuple + (user_string, )

print("\n The elements of tuple(in reverse order) are : ")
for i in range(1, len(tuple) + 1):
    j = -1 * i
    print("(", j, ")" , "  ", tuple[j])

Entre the sentence
 Danish
Entre the sentence
 Malik
Entre the sentence
 Okhla
Entre the sentence
 Delhi
Entre the sentence
 India

 The elements of tuple(in reverse order) are :
( -1 )    India
( -2 )    Delhi
( -3 )    Okhla
( -4 )    Malik
( -5 )    Danish

# Dictionary

In [62]:
empty_dict = {}
empty_dict

{}

In [63]:
type(empty_dict)

dict

In [65]:
month_dict = {'Jan':31, 'Feb':28, 'March':31, 'Apr':30, 'May':31}  # keys are a string
month_dict

{'Jan': 31, 'Feb': 28, 'March': 31, 'Apr': 30, 'May': 31}

In [66]:
month_dict1 = {1:'Jan', 2:'Feb', 3:'March', 4:'Apr', 5:'May'}   # keys are a numbers
month_dict1

{1: 'Jan', 2: 'Feb', 3: 'March', 4: 'Apr', 5: 'May'}

In [68]:
month_dict2 = {(1,2019):'Jan', (2,2019):'Feb'}   # key can be a tuple
month_dict2

{(1, 2): 'Jan', (3, 4): 'Feb'}

In [69]:
month_dict3 = {[1,2020]:'Jan', [2,2020]:'Feb'}   # key cannot be a list
month_dict2

TypeError: unhashable type: 'list'

# dict() function

In [71]:
a = dict([('A',1), ('B',2), ('C',3)])  # this function used to create from list of tuples
a

{'A': 1, 'B': 2, 'C': 3}

# Accessing of keys and values

In [72]:
month_dict = {'Jan':31, 'Feb':28, 'March':31, 'Apr':30, 'May':31}  # keys are a string
month_dict

{'Jan': 31, 'Feb': 28, 'March': 31, 'Apr': 30, 'May': 31}

In [74]:
month_dict.keys()

dict_keys(['Jan', 'Feb', 'March', 'Apr', 'May'])

In [75]:
month_dict.values()

dict_values([31, 28, 31, 30, 31])

In [76]:
month_dict.items()

dict_items([('Jan', 31), ('Feb', 28), ('March', 31), ('Apr', 30), ('May', 31)])

In [77]:
month_dict.get('Apr')  ## access vales of keys

30

# 'in' and 'not in'

In [78]:
'Apr' in month_dict

True

In [79]:
'xyz' in month_dict

False

In [80]:
'Dec' not in month_dict

True

# Loopin

In [82]:
letter_dict = {'I':1, 'V':5, 'X':11, 'Z':50, 'C':100, 'A':10, 'D':90}
letter_dict

{'I': 1, 'V': 5, 'X': 11, 'Z': 50, 'C': 100, 'A': 10, 'D': 90}

In [83]:
for key in letter_dict.keys():  # iterate over keys
    print("   ", key)

    I
    V
    X
    Z
    C
    A
    D

In [85]:
for value in letter_dict.values():  # iterate over values
    print("   ", value)

    1
    5
    11
    50
    100
    10
    90

In [87]:
for key in letter_dict.keys():  # iterate over keys
    print(key, "   ", letter_dict[key])

I     1
V     5
X     11
Z     50
C     100
A     10
D     90

# Operation on Dictionary

In [88]:
month_dict = {'Jan':31, 'Feb':28, 'March':31, 'Apr':30, 'May':31}  # keys are a string
month_dict

{'Jan': 31, 'Feb': 28, 'March': 31, 'Apr': 30, 'May': 31}

In [95]:
month_dict['Dec'] = 31 # with this we can assignn

In [96]:
month_dict

{'Jan': 31, 'Feb': 28, 'March': 31, 'Apr': 30, 'May': 31, 'Dec': 31}

In [97]:
del(month_dict['Dec']) # we can remove key by del()
month_dict

{'Jan': 31, 'Feb': 28, 'March': 31, 'Apr': 30, 'May': 31}

# Dictionary with complex object as values

In [98]:
# create a empl database with emp_id as key and list of emp where each value in list has property of an emp

emp_date = {1:['1', 'Emp A', 30], 2:['2', 'Emp B', 40], 3:['3', 'Emp C', 50]}
emp_date

{1: ['1', 'Emp A', 30], 2: ['2', 'Emp B', 40], 3: ['3', 'Emp C', 50]}

In [99]:
new_emp = ['4', 'Emp D', 60]  # we can add data to the dict in this way
emp_date[4] = new_emp
emp_date

{1: ['1', 'Emp A', 30],
 2: ['2', 'Emp B', 40],
 3: ['3', 'Emp C', 50],
 4: ['4', 'Emp D', 60]}

In [100]:
emp_date[4][1]

'Emp D'

In [101]:
emp_date[3][2]

50

In [103]:
emp_date[2] = ['2', 'Emp D', 1000] # we can modify values
emp_date

{1: ['1', 'Emp A', 30],
 2: ['2', 'Emp D', 1000],
 3: ['3', 'Emp C', 50],
 4: ['4', 'Emp D', 60]}

In [104]:
# No. of items ask the user to input the information

count = 3

products = {}

for i in range(count):
    product_name = input("Enter the product name\n")
    price = eval(input("Enter the price of product\n"))
    products[product_name] = price

print("\n")
product_name = input("Enter the product name\n")
print("The corresponding price is ", products[product_name])

Enter the product name
 SamsungS24
Enter the price of product
 90000
Enter the product name
 S25
Enter the price of product
 100000
Enter the product name
 S24 ulta
Enter the price of product
 130000

Enter the product name
 S25

The corresponding price is  100000

In [106]:
months = {'Jan':31, 'Feb':28, 'March':31, 'Apr':30, 'May':31, 'June':30, 'July':31, 'Aug':31, 'Sep':30, 'Oct':31, 'Nov':30, 'Dec':31}  # keys are a string

# ask the user to input a month name

month_name = input("Enter the month name\n")
print(month_name, " has ", months[month_name], " days.")

# printot all the keys in alphabatical order
print("\nThe keys in alphabatical order: \n")
for key in sorted(months.keys()):
    print(key)

Enter the month name
 Oct

Oct  has  31  days.

The keys in alphabatical order:

Apr
Aug
Dec
Feb
Jan
July
June
March
May
Nov
Oct
Sep

In [8]:
test_dict = {'key1':[1,2,45,[100,35]],
             'key2':(1,2,56,79),
             'key3':{3,4,5,90},
             'key4':{'x':'abc', 'y':'xyz'}}
test_dict

{'key1': [1, 2, 45, [100, 35]],
 'key2': (1, 2, 56, 79),
 'key3': {3, 4, 5, 90},
 'key4': {'x': 'abc', 'y': 'xyz'}}

In [5]:
test_dict.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [6]:
test_dict.values()

dict_values([[1, 2, 45, [100, 35]], (1, 2, 56, 79), {90, 3, 4, 5}, {'x': 'abc', 'y': 'xyz'}])

In [10]:
test_dict['key1'][3][0]

100

In [11]:
test_dict['key4']['x'] ## dictionary inside a dict.

'abc'

In [12]:
test_dict['key4']['y']

'xyz'

In [16]:
{i:i**2 for i in range(10)}   ## square of no. in dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [18]:
[i**2 for i in range(10)]  ## square of no. in list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
test_dict

{'key1': [1, 2, 45, [100, 35]],
 'key2': (1, 2, 56, 79),
 'key3': {3, 4, 5, 90},
 'key4': {'x': 'abc', 'y': 'xyz'}}

In [27]:
# etracting tuple from dictionary items and puting it in another empty list

empty_list = []

for i in test_dict.values():
    if type(i) == tuple :
        for j in i:
            empty_list.append(j)

print(empty_list, " is tuple in given dictionary.")

(1, 2, 56, 79)  is tuple in given dictionary.